@model PhotoApp.Models.Comment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Comment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Post)
        </dt>
        <dd class="col-sm-10">
            <img src="@Url.Action("ViewPostImage", new { id = Model.ID})" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CommentTime)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CommentTime)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CommentLikes)
        </dt>
        <dd class="col-sm-10">
            @*@Html.DisplayFor(model => model.CommentLikes)*@
            @if (Model.CommentLikes.Count != 0)
            {
                <table class="table">
                    <tr>
                        <th>User</th>
                    </tr>
                    @foreach (var item in Model.CommentLikes)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.User.UserName)
                            </td>
                        </tr>
                    }
                </table>
            }
            else
            {
                @:No Likes
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a> |
    <a asp-action="Like" asp-route-id="@Model.ID">Like</a>
</div>